.heading {
  display: flex;
  flex-direction: column;
  .container {
    display: flex;
    align-items: center;
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
  }
  .search-box {
    flex-basis: 100%;
    padding: 2px 0 0 20px;
    vertical-align: top;
    position: relative;
    form > .boder {
      background: #fff;
      border-radius: 15px;
      padding: 5px 10px;
      box-shadow: 0 4px 6px #ccc;
      input {
        border: none;
        outline: none;
        padding: 7px 0;
        width: 100%;
        font-weight: bold;
      }
      button {
        box-shadow: 0 4px 6px #ccc;
        position: absolute;
        right: 4px;
        top: -5px;
        background: #00483d;
        background-image: linear-gradient(#00917a, #00483d);
        border: none;
        border-radius: 17px;
        width: 42px;
        height: 42px;
        outline: none;
        font-size: 17px;
        color: #fff;
      }
    }
    .order {
      display: flex;
      width: 220px;
      vertical-align: top;
      padding-left: 25px;
    }
  }
}
